<div class="flex justify-center items-center">
  <form class="mt-10 p-3 bg-white" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Register</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error
          *ngIf="form.get('email').invalid">{{ form.get('email').errors | errorMsg:form.get('email') }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="form.get('password')?.invalid">{{ form.get('password')?.errors | errorMsg:form.get('password') }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" [formControl]="controlConfirm" required>
      </mat-form-field>

      <mat-error *ngIf="isPasswordMatch">Passwords do not match</mat-error>
    </div>

    <div class="mt-5 flex justify-center items-center">
      <button color="primary"
              mat-raised-button
              [disabled]="form.invalid || isPasswordMatch"
              type="submit">
        REGISTER
      </button>
    </div>

  </form>
</div>


